:root {
	--primary-color: #35b8be;
	--secondary-color: #9ea7b9;
	--third-color: #24969c;
	--light-color: #fff;
	--dark-color: #080a0a;
}

.best-choice {
	background: url("/img/shape2.svg") no-repeat center;
	padding: 80px 0;
	justify-content: center;
	/* text-align: center; */
}

.choice {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
	align-items: center;
}
