:root {
	--primary-color: #35b8be;
	--secondary-color: #9ea7b9;
	--third-color: #24969c;
	--light-color: #fff;
	--dark-color: #080a0a;
}

.footer {
	width: 100%;
	background: url("../img/shape2.svg") no-repeat center;

	margin-top: 80px;
	padding: 10px;
	/* text-align: center; */
}

.footer-content {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	align-items: center;
	text-align: center;
	padding: 80px 0;
}

.footer .logo {
	background: url("../img/shape3.svg") no-repeat left;
}

.footer img {
	width: 120px;
}

form {
	width: 70%;
	display: grid;
	grid-template-rows: auto;
	grid-gap: 25px;
	padding: 15px;
}

form input {
	padding: 15px;
	border-radius: 50px;
	border: none;
	outline-color: none;
}

input[type="text"] {
	font-size: 16px;
	color: var(--third-color);
	font-weight: 300;
}

::placeholder {
	font-family: "Inter", sans-serif;
	font-size: 1.6rem;
	color: var(--secondary-color);
	font-weight: 300;
}

.btn-radius {
	border-radius: 50px;
	cursor: pointer;
}

form button {
	border: none;
}

.create-account {
	color: var(--secondary-color);
	font-size: 1.2rem;
	font-weight: 300;
}

.create-account a:hover {
	text-decoration: underline;
}
