:root {
	--primary-color: #35b8be;
	--secondary-color: #9ea7b9;
	--third-color: #24969c;
	--light-color: #fff;
	--dark-color: #080a0a;
}

.partners {
	display: grid;
	height: 30vh;
	margin-top: 20px;
	padding: 20px;
	text-align: center;
	align-items: center;
	background: #f5fbfc;
	clip-path: polygon(0 0, 100% 13%, 100% 100%, 0% 100%);
}

.partners-grid {
	padding: 40px;
	margin-top: 40px;
}
.partners-content {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 60px;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 15px;
}
.partners-content img:last-child {
	border-radius: 50%;
}

@media screen and (max-width: 1024px) {
	.partners-content {
		width: 100%;
		align-items: center;
		justify-content: center;
	}
}

@media screen and (min-width: 375px) and (max-width: 415px) {
	.partners-content img {
		width: 100%;
	}
}

@media screen and (max-width: 20rem) {
	.partners-content img {
		width: 100%;
	}
}
