:root {
	--primary-color: #35b8be;
	--secondary-color: #9ea7b9;
	--third-color: #24969c;
	--light-color: #fff;
	--dark-color: #080a0a;
}

.places {
	padding: 80px 0;
}
.place-content {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-gap: 40px;
	align-items: center;
}

.works-grid {
	box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
	padding: 60px;
	border-radius: 10px;
}
